.st0 {
  fill: none;
}
.st1 {
  fill: #ffffff;
}
.st2 {
  font-family: 'Roboto';
  font-size: 12px;
}
.st3 {
  font-size: 8.2332px;
}
.st4 {
  fill: #ffeb3b;
}
.st5 {
  fill: url(#SVGID_1_);
}
.st6 {
  opacity: .5;

  fill: #ffffff;
}
.st7 {
  opacity: .5;
}

.continentst0 {
  fill: none;
}
.continentst1 {
  fill: #ffffff;
}
.continentst2 {
  font-family: 'Roboto';
  font-size: 12px;
}
.continentst3 {
  font-size: 8.2332px;
}
.continentst4 {
  fill: #26ff86;
}
.continentst5 {
  fill: url(#SVGID_1_);
}
.continentst6 {
  opacity: .5;

  fill: #ffffff;
}
.continentst7 {
  opacity: .5;
}
