@import 'normalize.css/normalize.css';

.title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 1px;
}

.dialog {
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 1px;
}

div {
  display: flex;
  display: flexbox;
}

* {
    box-sizing: border-box;
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-font-smoothing: antialiased;
}
