.landscapeAlert {
  width: 100vw;
  height: 100vh;

  background-color: #112340;
  background-image: url('/img/mobile_landscape.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
